.columns-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10vh auto;
  width: 80%;
  height: 80vh;
  gap: 8px;
  margin-top: 200px;
  .column {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    background-color: red;
    h2: {
      margin: 0;
      padding: 0 16px;
    }
    .list {
      background-color: #ddd;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: auto;
      margin-top: 8px;
      width: 80%;
      box-sizing: border-box;
      .item {
        background-color: gray;
        border-radius: 4px;
        padding: 10px 20px;
        transition: background-color 0.8s ease-out;
        margin-top: 8px;
        &:hover {
          background-color: #fff;
          transition: background-color 0.1s ease-in;
        }
      }
    }
  }
}
