.form-container {
  display: flex;
  height: 100vh;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: white;
  .btns-group {
    button {
      width: 50%;
      border: 0;
      padding: 20px 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .btn-active {
      background-color: antiquewhite;
    }
  }
  .form {
    width: 100%;
    max-width: 500px;
    background-color: white;
    margin: auto;
    padding: 100px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 3px 30px rgba(black, 0.3);
    @media (max-width: 600px) {
      padding: 30px 20px;
    }
    .input-field {
      margin-bottom: 60px;
      display: flex;
      flex-wrap: wrap;
      label {
        width: 100%;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      input {
        height: 40px;
        width: 100%;
        font-size: 20px;
        border-radius: 30px;
        padding-left: 15px;
        font-size: 15px;
        border: solid 1px gray;
      }
    }
    .btn-submit {
      padding: 15px 40px;
      border: none;
      background-color: antiquewhite;
      color: black;
      border-radius: 50px;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
